@font-face{
    font-family: "midashi";
    src: url("../public/ZenMaruGothic-Medium.ttf");
}

@font-face {
    font-family: "nakami";
    src: url("../public/ZenMaruGothic-Regular.ttf");
}

/* header */
body{
    background-color: rgb(165, 211, 248);
    font-family: nakami;
}

.header{
    text-align: center;
}
h1{
    font-size: 40px;
    color: #555555;
    margin-top: 20px;
    font-family: midashi;
    letter-spacing: 3px;

}
.wrapper{
    width: 1200px;
    margin: 0 auto;
    background-color: white;
    margin-top: 20px;
    padding : 20px;
    border-radius:20px ;
}

/* 都道府県選択 */
.tihou_container{
    /* display: flex;
    flex-wrap: wrap; */
}

.tihou{
    /* width: auto;
    max-width: 300px; */
}

.prefecture__container{
    display: flex;
    flex-wrap: wrap;
}

.prefecture__input{
    margin: 0 ;
    padding: 0;
    opacity: 0  ;
}

.prefecture__item{
    margin-right: 23px;
    font-size: 18px;
    display: flex;
    align-items: center;
}

.prefecture__label{
    display: flex;
    margin-bottom: 10px;
    cursor: pointer;    
}
.prefecture__text{
    margin-left: 10px;

}


.prefecture__input:hover + .dummyinput{
    background: #cccccc;
}
.prefecture__input:focus + .dummyinput{
    background: #cccccc;
}
.prefecture__input:checked + .dummyinput{
    background: #555555;
}

.prefecture__input:checked + .dummyinput::before{
    content: '';
    display: block;
    position: absolute;
    top: 70%;
    left: 70%;
    width:35%;
    height: 2px;
    transform: translate(-5px, -6px) rotateZ(-135deg);
    transform-origin: 1px 1px;
    background:#ffffff;
}

.prefecture__input:checked + .dummyinput::after{
    content: '';
    display: block;
    position: absolute;
    top: 70%;
    left: 70%;
    width:70%;
    height: 2px;
    transform: translate(-5px, -6px) rotateZ(-45deg);
    transform-origin: 1px 1px;
    background:#ffffff;
}

.dummyinput{
    width: 25px;
    height: 25px;
    display: block;
    top: 0;
    left: 0;
   background: #F5f5f5;
    position: relative;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .4)inset;
}

.reset_btn{
    display: block;
    text-align: center;
    text-decoration: none ;
    width: 200px;
    margin: auto;
    padding: 10px;
    font-weight: bold;
    border: 2px solid #555555;
    color:#555555;
    border-radius: 100vh;
    transition: 0.5s;
    cursor: pointer;
    margin-top: 30px;
}

.reset_btn:hover{
    background: #555555;
    color: #ffffff;
}

/* 人口構成選択 */
.btn_container{
    height: 52px;
}

input[type="radio"]{
    display: none;
}

.ageLabel{
    display: block;
    float: left ;
    margin: 5px;
    width: 100px;
    height: 45px;
    padding-left: 5px;
    padding-right: 5px;
    color: #555555;
    text-align: center;
    line-height: 45px;
    cursor: pointer; 
    border: 1px solid #555555;
    border-radius: 5px; 
}

.ageLabel:hover{
    background: #a0a0a0;
    color: #ffffff;

}


.age:checked + .ageLabel {
    background: #555555;
    color: #ffffff;
}



/* チャート部分 */



/* レスポンシブ対応 */
@media screen and (max-width: 479px){
   




}
