{
    "env": {
        "browser": true,
        "node": true,
        "es6": true
    },
    "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "requireConfigFile": false,
    "babelOptions": {
      "presets": ["@babel/preset-env", "@babel/preset-react"]
    },
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "airbnb-base"
  ],
  "plugins": [
    "react"
  ],
  "settings": {
    "react": {
      "version": "detect"
    },
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  },
    "rules": {
        "linebreak-style": ["off"],
        "semi": ["warn", "always"],
        "quotes": ["warn", "double"],
        "no-restricted-syntax": ["warn"],
        "no-await-in-loop": ["warn"],
        "implicit-arrow-linebreak": ["warn"],
        "function-paren-newline": ["warn"],
        "object-curly-newline": ["warn"],
        "react/no-deprecated": ["warn"],
        "operator-linebreak": ["off"],
        "no-undef": ["off"],
        "prefer-destructuring": ["warn"],
        "no-shadow" : ["warn"],
        "import/no-extraneous-dependencies": ["off"],
        "import/extensions": ["warn", "ignorePackages", {
          "js": "never",
          "jsx": "never",
          "ts": "never",
          "tsx": "never"
        }],
        "comma-dangle": ["warn", "never"]
    }
}